Options -Indexes
Options +SymLinksIfOwnerMatch

RewriteEngine on


RewriteRule ^books/?$                   public/dispatcher.php?controller=Books&action=index          [QSA,L]
RewriteRule ^books/add/?$               public/dispatcher.php?controller=Books&action=add            [QSA,L]
RewriteRule ^books/([a-z0-9\-]+)/?$     public/dispatcher.php?controller=Books&action=edit&slug=$1   [QSA,L]

RewriteRule ^(.*)$    public/$1     [L]

# an empty dispatcher loads up 404
ErrorDocument 404 /html2epub/public/dispatcher.php