Options -Indexes
Options +SymLinksIfOwnerMatch

RewriteEngine on


# remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

# send all requests to public where it will be re-routed
RewriteRule ^$   public/dispatcher.php  [L]
RewriteRule (.*) public/$1              [L]