body {
  text-align: justify;
  padding: 10pt;
}
body.nopadding {
    padding: 0px;
    margin: 0px;
}

/* common pages */
.footnote-delimiter {
    width: 50%;
    margin: 0px;
}
.chapter-title {
  padding-top: 20%;
}
.no-body {
  padding-top: 40%;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.full {
  text-align: justify;
}
.no-bold {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
p {
  margin: 0px;
  text-indent: 2em;
}
p.noindent {
  text-indent: 0em;
}
li {
    margin: 0px;
}
.pb-1 { padding-bottom: 1em; }
.pt-1 { padding-top: 1em; }
.pb-2 { padding-bottom: 2em; }
.pt-2 { padding-top: 2em; }
.pb-5 { padding-bottom: 5em; }
.pt-5 { padding-top: 5em; }
.mb-1 { margin-bottom: 1em; }
.mt-1 { margin-top: 1em; }
.mb-2 { margin-bottom: 2em; }
.mt-2 { margin-top: 2em; }
.mb-5 { margin-bottom: 5em; }
.mt-5 { margin-top: 5em; }

.small-caps {
  font-variant: small-caps;
  font-size: 1.1em;
}
.drop-cap {
  float:left;
  font-size:2.789em;
  line-height: 0.7;
  margin-right:0.05em;
  margin-top:0.113em;
}

/* copyright page */
.copyright p {
  text-indent: 0px;
}

/* table of contents */
nav ol {
    list-style: none;
    padding-left: 2em;
}
nav > ol {
    padding: 0px;
}
a {
    color: #28468C;
}
