<div class="text-center mb-5 mt-5 p-5">
    <div class="display-1 text-primary font-weight-bold">404</div>
    <div class="h4">
        Page not found<br />
        Go back to <a href="{{ root }}">home page</a>.
    </div>
</div>