@import (inline) "../../../vendor/twbs/bootstrap/dist/css/bootstrap.min.css";
@import "nestable2.less";

/* ----------------------------- */
@mobile:     ~"(max-width: 720px)";
@desktop:    ~"(min-width: 721px)";
/* ----------------------------- */
@darkblue: #28468C;
@white:    #F0F0F0;
/* ----------------------------- */
* {
    box-sizing: border-box;
}
/* ----------------------------- */
body {
    background-color: @darkblue;
    @media @mobile {
        padding-top: 100px;
    }
}
textarea {
    min-height: 8em;
    max-height: 15em;
}
.body-wrap {
    background-color: @white;
    max-width: 1280px;
    @media @desktop {
        border-radius: 10px !important;
    }
}
header {
    @media @mobile {
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: @white;
        z-index: 1;
        box-shadow: 0px 2px 5px fade(black, 45%);
    }
    .logo-wrapper {
        @media @desktop {
            width: 130px;
        }
        @media @mobile {
            width: 70px;
        }
    }
    .title {
        font-family: sans-serif;
        @media @desktop {
            font-size: 30px;
        }
        &.homepage {
            @media @desktop {
                width: 260px;
            }
        }
    }
}

.btn.add {
    background-image: url(../img/add.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 30px;
}