@lightblue:           #2ea8e5;
@backgroundColor:     #fafafa;
@inactiveBorderColor: #ccc;
.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
}

.dd-list {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    .dd-list {
        padding-left: 30px;
    }
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 5px 0px 0px 0px;
    padding: 0;
    min-height: 20px;
    font-size: 15px;
    line-height: 30px;
}

.dd-handle {
    position: relative;
    display: block;
    height: 40px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid @inactiveBorderColor;
    background-color: @backgroundColor;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.3s, border-color 0.3s;
    &:hover {
        &:not(.active) {
            background-color: #fff;
            border-color: mix(@inactiveBorderColor, black, 65%);
        }
    }
    &:not(.static) {
        cursor: move;
    }
    &.active {
        border-color: @lightblue;
        background-color: #e0f9ff;
        &:hover {
            background-color: mix(#e0f9ff, white, 60%);
            border-color: mix(@lightblue, white, 80%);
        }
    }
    a {
        color: #333;
        transition: color 0.3s;
    }
    a:hover, &.active a {
        color: @lightblue;
        text-decoration: underline;
    }
}

.dd-item {
    .title {
        overflow: hidden;
        width: calc(~"100% - 60px");
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .actions {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        img {
            width: 16px;
            cursor: pointer;
            opacity: 0.75;
            transition: opacity 0.3s;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.dd-item > button {
    z-index: 1;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 30px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    &:before {
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        text-indent: 0;
    }
    &.dd-expand:before {
        content: '+';
    }
    &.dd-collapse:before {
        content: '-';
    }
    &:focus, &::-moz-focus-inner {
        outline: none;
        border: none;
    }
}

.dd-expand {
    display: none;
}

.dd-collapsed .dd-collapse {
    display: none;
}

.dd-collapsed .dd-expand {
    display: block;
}

.dd-empty,
.dd-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    > .dd-item .dd-handle {
        margin-top: 0;
    }
    .dd-handle {
        box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
    }
}
.dd-nochildren .dd-placeholder {
    display: none;
}
