{{ include('elements/breadcrumb.twig') }}
<div class="text-center text-uppercase">
    <a href="{{ custom_url([{'controller': 'books', 'action': 'index'}]) }}" class="btn btn-lg btn-primary">Books</a>
</div>