<div class="modal fade" id="informationModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Something went wrong</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                An error occured which has been logged.<br />
                Please try again later.
            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-warning modal-no small-caps" data-dismiss="modal">Ok</button>
            </div>

        </div>
    </div>
</div>