<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ book.getLanguage().getLocale()|slice(0, 2) }}">
<head>
    <title>{{ metaTitle|default(book.getTitle())|e }}</title>
    <link rel="stylesheet" type="text/css" href="css/html2epub.css" />
    <meta charset="utf-8" />
</head>
<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
