<!DOCTYPE html>
<html xmlns:epub="http://www.idpf.org/2007/ops" xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ locale }}">
<head>
    <title>{{ metaTitle|default(book.getTitle())|e }}</title>
    <link rel="stylesheet" type="text/css" href="css/html2epub.css" />
    {% if book.getIncludeFont() %}
        <link rel="stylesheet" type="text/css" href="css/fonts/fonts.css" />
    {% endif %}
    <meta charset="utf-8" />
</head>
<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
