<div class="section-title center">
    <span class="bold">Books list</span>
    <a href="#" class="button add">Add new book</a>
</div>

<div class="table-wrapper">
    <div class="table">
        <div class="table-row bold desktop-only">
            <div class="table-cell">#</div>
            <div class="table-cell">Title</div>
            <div class="table-cell">Author(s)</div>
            <div class="table-cell">Actions</div>
            <div class="table-cell">Created</div>
            <div class="table-cell">Last modified</div>
        </div>
        {% for i in 1..5 %}
        <div class="table-row">
            <div class="table-cell">{{i}}.</div>
            <div class="table-cell"><span class="mobile-only bold">Title:</span> Lorem ipsum</div>
            <div class="table-cell"><span class="mobile-only bold">Author(s):</span> Dolor ipsum</div>
            <div class="table-cell desktop-only">&nbsp;</div>
            <div class="table-cell"><span class="mobile-only bold">Created:</span> 2021-02-21</div>
            <div class="table-cell"><span class="mobile-only bold">Last Modified:</span> 2021-02-21</div>
        </div>
        {% endfor %}
    </div>
</div>