{% if book.author %}
    <h3 class="chapter-title center pb-1 no-bold">{{ book.author|e }}</h3>
{% endif %}
<h1 class="center{% if not book.author %} no-body{% endif %}">{{ book.title|e }}</h1>
{% if book.subtitle %}
    <h2 class="center">{{ book.subtitle|e }}</h2>
{% endif %}