{% set root = constant('ROOT') %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>HTML 2 ePub</title>
    <link type="text/css" rel="stylesheet" href="{{root}}css/style.css" />
</head>
<body>
    <div class="body-wrap">
        <header>
            <div class="logo-wrapper">
                <img src="{{root}}img/html2epub.svg" class="logo" alt="Logo" />
            </div>
            <div class="title">Free online ePub generator</div>
        </header>
        <section>